---
permalink: /index.html
---
{%- set sortedLinks = links | flatten('title') | sort(true,null,"createdAt") -%}
{% for link in sortedLinks -%}
<article class="stack post" data-filter="">
	<h2>
		<a href="{{ link.url }}">{{ link.title }}</a>
	</h2>
	{% if link.image %}
	{{ link.image | markdown | safe }}
	{% endif %}
	<p>{{ link.description | markdown | safe }}</p>
	{% if link.tags %}
	<ul class="post__tags">
		{% for tag in (link.tags | split(',') | sort) %}
		<li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</article>
{%- endfor %}
